{% extends "core/base.html" %}
{% block title %}
    About
{% endblock %}
{% block content %}
    <h2 class="text-center my-5">About WikiTriv</h2>
    <p class="text-justify">
        Welcome to <strong>WikiTriv</strong>, your ultimate source for interesting and diverse trivia! Our platform
        leverages advanced AI technology to scrape and curate fascinating facts and insights from Wikipedia. Whether
        you're a trivia enthusiast, a student, or just someone curious about the world, WikiTriv provides you with a
        never-ending stream of knowledge to explore.
    </p>

    <h2 class="text-center my-5">What we offer</h2>
    <p>Here the features that we currently offer:</p>
    <ul>
        <li>
            <strong>Diverse Topics:</strong> From history and science to pop culture and technology, WikiTriv covers a
            wide range of topics.
        </li>
        <li>
            <strong>Regular Updates:</strong> Our AI scraper ensures that the trivia is always fresh and up-to-date.
        </li>
        <li>
            <strong>user-Friendly Interface:</strong> Navigate through trivia easily with our clean and intuitive
            design.
        </li>
        <li>
            <strong>Learn and Share:</strong> Enjoy learning new facts and share them with your friends and family.
        </li>
    </ul>
    <p>
        Our mission is to make learning fun and engaging by bringing the vast repository of knowledge from Wikipedia to
        your fingertips in an easily digestible format.
    </p>

    <h2 class="text-center my-5">Credit to Authors</h2>
    <p>
        WikiTriv would not have been possible without the efforts and contributions of several talented individuals. We
        would like to extend our heartfelt thanks to:
    </p>
    <ul>
        <li>
            <strong>Frontend Development:</strong> Annarhysa Albert, Paras Panwar
        </li>
        <li>
            <strong>Backend Development:</strong> Paras Panwar, Prithvi Raja Shah
        </li>
        <li>
            <strong>AI Model Integration:</strong> Annarhysa Albert
        </li>
    </ul>
{% endblock %}