{% extends "core/base.html" %}
{% block title %}
    Leaderboard
{% endblock %}
{% block content %}
    <div class="container my-5">
        <!-- Leaderboard Header -->
        <div class="text-center mb-5">
            <h1 class="display-4">Leaderboard</h1>
            <p class="lead">See where you stand among the top performers!</p>
        </div>

        <!-- Leaderboard Table -->
        <div class="table-responsive">
            <table class="table table-hover table-striped text-center">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Rank</th>
                    <th scope="col">Username</th>
                    <th scope="col">Score</th>
                    <th scope="col">Attempted</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ user.username }}</td>
                    <td>{{ user.score }}</td>
                    <td>{{ user.attempted }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
